body{
    background: blue;
    text-align: center;
    margin: 400px;
}
button{
    margin:50px;
    color:white;
    border:none;
    font-size:50px;
    background:red;
    border-radius:20px;
}
